<div class = "container">
    <div class ="row">
   <div class="col-md-12">
  
    <div class="box_style_2" id="main_menu">
      <h2 class="inner">RECIPE LIST</h2>
  
  
      <table class="table table-striped cart-list">
        <thead>
        <tr>
          <th>
           Recipe Name
          </th>
          <th>
            User
          </th>
          <th>
            Delete
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <figure class="thumb_menu_list"><img src="../../../../assets/img/menu-thumb-1.jpg" alt="thumb"></figure>
            <a href="#">  <h5>1. Mexican Enchiladas</h5></a>
            <p>
              Fuisset mentitum deleniti sit ea.
            </p>
          </td>
          <td>
            <strong>Hasnat </strong>
          </td>
          <td class="options">
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
  
          </td>
        </tr>
        <tr>
          <td>
            <figure class="thumb_menu_list"><img src="../../../../assets/img/menu-thumb-10.jpg" alt="thumb"></figure>
            <a href="#">  <h5>1. Mexican Enchiladas</h5></a>
            <p>
              Fuisset mentitum deleniti sit ea.
            </p>
          </td>
          <td>
            <strong>Alee </strong>
          </td>
          <td class="options">
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
  
          </td>
        </tr>
        <tr>
          <td>
            <figure class="thumb_menu_list"><img src="../../../../assets/img/menu-thumb-11.jpg" alt="thumb"></figure>
            <a href="#">  <h5>1. Mexican Enchiladas</h5></a>
            <p>
              Fuisset mentitum deleniti sit ea.
            </p>
          </td>
          <td>
            <strong>User 2 </strong>
          </td>
          <td class="options">
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
  
          </td>
        </tr>
        <tr>
          <td>
            <figure class="thumb_menu_list"><img src="../../../../assets/img/menu-thumb-11.jpg" alt="thumb"></figure>
            <a href="#">  <h5>1. Mexican Enchiladas</h5></a>
            <p>
              Fuisset mentitum deleniti sit ea.
            </p>
          </td>
          <td>
            <strong>User 3 </strong>
          </td>
          <td class="options">
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
  
          </td>
        </tr>
  
        </tbody>
      </table>
  
  
  
  
    </div><!-- End box_style_1 -->
  </div><!-- End col-md-6 -->
  </div>
  </div>
  
