<div id="preloader">
    <div class="sk-spinner sk-spinner-wave" id="status">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div><!-- End Preload -->

<!-- Header ================================================== -->
<header>
  <div class="container-fluid">
      <div class="row">
          <div class="col--md-4 col-sm-4 col-xs-4">
              <a href="index.html" id="logo">
              <img src="../../../assets/img/logo1.png" width="100"  alt="" data-retina="true" class="hidden-xs">
              <img src="../../../assets/img/logo1.png" width="59"  alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm">
              </a>
          </div>
          <nav class="col--md-8 col-sm-8 col-xs-8">
          <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
            <div class="main-menu">
              <div id="header_menu">
                    <img src="../../../assets/img/logo1.png" width="190" alt="" data-retina="true">
              </div>
                <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                <ul>
                    <li><a href="/" class="show-submenu">Logout</a></li>
                    
                </ul>
            </div><!-- End main-menu -->
          </nav>
      </div><!-- End row -->
  </div><!-- End container -->
</header>
<!-- End Header =============================================== -->

<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="../../../assets/img/muesli.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
      <div id="sub_content">
        <h1>Admin section</h1>
        <p>Qui debitis meliore ex, tollit debitis conclusionemque te eos.</p>
        <p></p>
      </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->









