
<div class="container margin_60_35">
  <div class="row">


    <div class="col-md-12">

      



   

      <div id="tools">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="styled-select">
                  <select name="sort_rating" id="sort_rating">
                    <option value="" selected>Sort by ranking</option>
                    <option value="lower">Lowest ranking</option>
                    <option value="higher">Highest ranking</option>
                  </select>
                </div>
              </div>
              <div class="col-md-9 col-sm-9 hidden-xs">
                <a href="grid_list.html" class="bt_filters"><i class="icon-th"></i></a>
              </div>
            </div>
      </div><!--End tools -->
    
      
      <div class="strip_list wow fadeIn" data-wow-delay="0.3s">
        <div class="row">
          <div class="col-md-9 col-sm-9">
            <div class="desc">
              <div class="thumb_strip">
                <a href="detail_page.html"><img src="../../../../assets/img/thumb_restaurant.jpg" alt=""></a>
              </div>

              <h3>Japan Food</h3>
              <div class="type">
                Sushi / Japanese
              </div>
              <div class="location">
                135 Newtownards Road, Belfast, BT4. <span class="opening">Opens at 17:00.</span> Minimum order: $15
              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="go_to">
              <a href="detail_page.html" class="btn_1">View Details</a>
              <br>
              <br>
              <a href="detail_page.html" class="btn_1">Delte Order</a>
            </div>
          </div>
        </div><!-- End row-->
      </div><!-- End strip_list-->

      <div class="strip_list wow fadeIn" data-wow-delay="0.4s">
        <div class="row">
          <div class="col-md-9 col-sm-9">
            <div class="desc">
              <div class="thumb_strip">
                <a href="detail_page.html"><img src="../../../../assets/img/thumb_restaurant.jpg" alt=""></a>
              </div>

              <h3>Sushi Gold</h3>
              <div class="type">
                Sushi / Japanese
              </div>
              <div class="location">
                135 Newtownards Road, Belfast, BT4. <span class="opening">Opens at 17:00.</span> Minimum order: $15
              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="go_to">
              <a href="detail_page.html" class="btn_1">View Details</a>
              <br>
              <br>
              <a href="detail_page.html" class="btn_1">Delte Order</a>
            </div>
          </div>
        </div><!-- End row-->
      </div><!-- End strip_list-->

      <div class="strip_list wow fadeIn" data-wow-delay="0.5s">
        <div class="row">
          <div class="col-md-9 col-sm-9">
            <div class="desc">
              <div class="thumb_strip">
                <a href="detail_page.html"><img src="../../../../assets/img/thumb_restaurant.jpg" alt=""></a>
              </div>

              <h3>Dragon Tower</h3>
              <div class="type">
                Chinese / Thai
              </div>
              <div class="location">
                135 Newtownards Road, Belfast, BT4. <span class="opening">Opens at 17:00.</span> Minimum order: $15
              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="go_to">
              <a href="detail_page.html" class="btn_1">View Details</a>
              <br>
              <br>
              <a href="detail_page.html" class="btn_1">Delte Order</a>
            </div>
          </div>
        </div><!-- End row-->
      </div><!-- End strip_list-->

      <div class="strip_list last wow fadeIn" data-wow-delay="0.6s">
        <div class="row">
          <div class="col-md-9 col-sm-9">
            <div class="desc">
              <div class="thumb_strip">
                <a href="detail_page.html"><img src="../../../../assets/img/thumb_restaurant_6.jpg" alt=""></a>
              </div>

              <h3>China Food</h3>
              <div class="type">
                Chinese / Vietnam
              </div>
              <div class="location">
                135 Newtownards Road, Belfast, BT4. <span class="opening">Opens at 17:00.</span> Minimum order: $15
              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="go_to">
              <a href="detail_page.html" class="btn_1">View Details</a>
              <br>
              <br>
              <a href="detail_page.html" class="btn_1">Delte Order</a>
            </div>
          </div>
        </div><!-- End row-->
      </div><!-- End strip_list-->

      <a href="#0" class="load_more_bt wow fadeIn" data-wow-delay="0.2s">Load more...</a>
    </div><!-- End col-md-9-->

  </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->

